@using Bar_Rating.Data
@inject ApplicationDbContext dbContext
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.IsInRole(GlobalConstants.AdminRoleName))
    {
        <h2>Total users: @dbContext.Users.Count()</h2>
        <h2>Total bars: @dbContext.Bars.Count()</h2>
        <h2>Total reviews: @dbContext.Reviews.Count()</h2>
    }
</div>
